{% extends "global_layout.html" %}
{% block content %}
<div class="container" id="row-container">
    {% include "flash_messages.html" %}

    {% if error %}
    <div class="col-md-12">
        <div class="card" id="card-container-layout">
            <div class="card-body" id="card">
                <h4 class="card-title">ERROR</h4>
                <div class="card-text paragraph-custom">
                    {{error_message}}

                </div>
            </div>
        </div>
    </div>
    {%endif%}
    <div class="row" id="row">
        <div class="card" id="card-container">
            <div class="card-body d-flex flex-column" id="card">
                <h4 class="card-title">Edit Book</h4>
                <p class="card-text" id="paragraph">Enter Book info</p>
                <div class="mt-auto">
                    <form method="POST">
                        {{ form.hidden_tag() }}

                        {{form.title.label(class="form-label")}}
                        {{form.title(class="form-control")}}

                        {{form.isbn.label(class="form-label")}}
                        {{form.isbn(class="form-control")}}

                        {{form.pages.label(class="form-label")}}
                        {{form.pages(class="form-control")}}

                        {{form.language.label(class="form-label")}}
                        {{form.language(class="form-control")}}

                        {{form.authors.label(class="form-label")}}
                        {{form.authors(class="form-control")}}

                        {{form.publisher.label(class="form-label")}}
                        {{form.publisher(class="form-control")}}

                        {{form.categories.label(class="form-label")}}
                        {{form.categories(class="form-control")}}

                        {{form.copies.label(class="form-label")}}
                        {{form.copies(class="form-control")}}

                        {{form.keywords.label(class="form-label")}}
                        {{form.keywords(class="form-control")}}

                        {{form.image.label(class="form-label")}}
                        {{form.image(class="form-control")}}

                        {{form.description.label(class="form-label")}}
                        {{form.description(class="form-control")}}
                        <br />
                        {{ form.submit(class="btn btn-primary") }}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="row">

        <p class="card-text" id="paragraph">{{ message }}</p>

    </div>
</div>
{% endblock content %}