{% extends "global_layout.html" %}
{% block content %}
<div class="container" id="row-container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="card" id="card-container-layout">
            <div class="card-body d-flex flex-column" id="card">
                <h4 class="card-title">Test admin card</h4>
                <p class="card-text" id="paragraph">Test admin card text</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}