{% extends "global_layout.html" %}
{% block content %}
<div class="container" id="row-container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <!-- 3.1.1 -->
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body d-flex flex-column" id="card">
                    <h4 class="card-title">Personal Info</h4>
                    <p class="card-text" id="paragraph"><br>
                        {% if role == 3%}
                        <td>
                            <div class="mt-auto">
                                <a class="btn btn-primary" id="show-btn"
                                    href="/user_dash/teacher_update_info/{{ID}}">Edit</a>
                            </div>
                        </td>
                        {% endif %}
                    </p>
                    <div class="mt-auto">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Surname</th>
                                    <th>Date of Birth</th>
                                    <th>School</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for result in name %}
                                <tr>
                                    <td> {{ result.user_first_name }} </td>
                                    <td> {{ result.user_last_name }} </td>
                                    <td> {{ result.user_birthdate }} </td>
                                    <td> {{ result.school_name }} </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" id="card-container-layout">
            <div class="card-body d-flex flex-column" id="card">
                <h4 class="card-title">Books I have Borrowed</h4>
                <p class="card-text" id="paragraph"><br></p>
                <div class="mt-auto">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for result in book %}
                            <tr>
                                <td> {{ result.book_title }} </td>
                                <td> {{ result.borrowing_status }} </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body d-flex flex-column" id="card">
                    <h4 class="card-title">Reserve and Review Book</h4>
                    <p class="card-text" id="paragraph">Search with title, category or author to find all available
                        books<br></p>
                    <div class="mt-auto">
                        <a class="btn btn-primary" id="show-btn" href="/user_dash/reservation/{{ID}}">Show</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}