{% extends "global_layout.html" %}
{% block content %}
<div class="container" id="row-container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Average rating</h4>
                    <p class="card-text paragraph-custom">
                        Show average Ratings per borrower and category
                    </p>
                    <a class="btn btn-primary btn-submit-custom" href="/operator_dash/{{user_ID}}/average_rating">Search</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Books</h4>
                    <p class="card-text paragraph-custom">
                        Show all books at your school using search criteria 
                    </p>
                    <a class="btn btn-primary btn-submit-custom" href="/operator_dash/{{user_ID}}/search_books">Search</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Search owed returns</h4>
                    <p class="card-text paragraph-custom">
                        Find all borrowers who own at least one book and have delayed its return. 
                    </p>
                    <a class="btn btn-primary btn-submit-custom" href="/operator_dash/{{user_ID}}/search_owed_returns">Search</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="row-2">
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Search Pending Acounts</h4>
                    <p class="card-text paragraph-custom">
                        Find all user accounts waiting to be activated.
                    </p>
                    <a class="btn btn-primary btn-submit-custom" href="/operator_dash/{{user_ID}}/activate_users">Search</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Search Pending Reviews</h4>
                    <p class="card-text paragraph-custom">
                        Find all user reviews waiting to be validated.
                    </p>
                    <a class="btn btn-primary btn-submit-custom" href="/operator_dash/{{user_ID}}/activate_reviews">Search</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">User Info</h4>
                    {% for result in results %}
                    <p class="card-text paragraph-custom">ID : {{ result.user_id }} </p>
                    <p class="card-text paragraph-custom">School ID : {{ result.school_id }} </p>
                    <p class="card-text paragraph-custom">Name : {{ result.user_first_name }} {{ result.user_last_name }} </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}