<div class = "alert-custom col-md-12">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message | safe }}
                <!-- |safe is a jinja2 filter that prevents automatic escaping -->
                <button type = "button" class = "btn-close" data-bs-dismiss = "alert" aria-label = "Close"></button>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
