{% extends "global_layout.html" %}
{% block content %}
<div class="container" id="row-container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="card" id="card-container-layout">
            <div class="card-body d-flex flex-column" id="card">
                <h4 class="card-title">View Programs</h4>
                <p class="card-text" id="paragraph">Simple Query to database to show all programs</p>
                <div class="mt-auto">
                <a class="btn btn-primary" id="show-btn" href="/programs">Show</a>
                </div>
            </div>
        </div>
        <div class="row" id="row">
            <div class="card" id="card-container-layout">
                <div class="card-body d-flex flex-column" id="card">
                    <h4 class="card-title">View Programs</h4>
                    <p class="card-text" id="paragraph">Simple Query to database to show all programs</p>
                    <div class="mt-auto">
                    <a class="btn btn-primary" id="show-btn" href="/programs">Show</a>
                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock content %}