{% extends "global_layout.html" %}
{% block content %}
<div class="container" id="row-container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="card" id="card-container-layout">
            <div class="card-body d-flex flex-column" id="card">
                <h4 class="card-title">Login Page</h4>
                <p class="card-text" id="paragraph">Enter Username and Password</p>
                <div class="mt-auto">
                <form method="POST">
                    {{ form.hidden_tag() }}

                    {{form.username.label(class="form-label")}}
                    {{form.username(class="form-control")}}
                    {{form.password.label(class="form-label")}}
                    {{form.password(class="form-control")}}
                    <br/>
                    {{ form.submit(class="btn btn-primary") }}
                </form>
                <!-- <a class="btn btn-primary" id="show-btn" href="/programs">Show</a> -->
                </div>
            </div>
        </div>
    </div>
    <p></p>
    <p>Don't have an account yet?</p>
    <a class="btn" id="show-btn" href="/sign_up">Sign Up!</a>
</div>
{% endblock content %}