{% extends "global_layout.html" %}
{% block content %}
<div class="container" id="row-container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Search Page</h4>
                    <p class="card-text" id="paragraph">Enter Search Criteria or leave blanc</p>
                    <div class="mt-auto">
                    <form method="POST">
                        {{ form.hidden_tag() }}

                        {{form.first_name.label(class="form-label")}}
                        {{form.first_name(class="form-control")}}
                        {{form.last_name.label(class="form-label")}}
                        {{form.last_name(class="form-control")}}
                        {{form.username.label(class="form-label")}}
                        {{form.username(class="form-control")}}
                        <br/>
                        {{ form.submit(class="btn btn-primary") }}
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>User Name</th>
                                <th>Real Name</th>
                                <th>Role</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for result in results %}
                            <tr>
                                <td> {{ result.username }} </td>
                                <td> {{ result.user_first_name }}  {{ result.user_last_name }} </td>
                                <td> {{ result.role_name }} </td>
                                <td>
                                    <form action="/operator_search_users_print_card/{{user_ID}}" method="POST">
                                        <input type="hidden" name="user_id" value="{{ result.user_id }}">
                                        <button type="submit">Print Card</button>
                                    </form>
                                </td>
                                <td>
                                    <form action="/operator_search_users_deactivate/{{user_ID}}" method="POST">
                                        <input type="hidden" name="user_id" value="{{ result.user_id }}">
                                        <button type="submit">Deactivate</button>
                                    </form>
                                </td>
                                <td>
                                    <form action="/operator_search_users_delete/{{user_ID}}" method="POST">
                                        <input type="hidden" name="user_id" value="{{ result.user_id }}">
                                        <button type="submit">Delete</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}