{% extends "global_layout.html" %}
{% block content %}
<div class="container" id="row-container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="card" id="card-container-layout">
            <div class="card-body d-flex flex-column" id="card">
                <h4 class="card-title">Search Page</h4>
                <p class="card-text" id="paragraph">Enter Search Criteria or leave blanc</p>
                <div class="mt-auto">
                <form method="POST">
                    {{ form.hidden_tag() }}

                    {{form.book_title.label(class="form-label")}}
                    {{form.book_title(class="form-control")}}
                    {{form.book_category.label(class="form-label")}}
                    {{form.book_category(class="form-control")}}
                    {{form.book_author.label(class="form-label")}}
                    {{form.book_author(class="form-control")}}
                    {{form.book_copies.label(class="form-label")}}
                    {{form.book_copies(class="form-control")}}
                    <br/>
                    {{ form.submit(class="btn btn-primary") }}
                </form>
                <!-- <a class="btn btn-primary" id="show-btn" href="/programs">Show</a> -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}