{% extends "global_layout.html" %}
{% block content %}
<div class="container" id="row-container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Book ID</th>
                                <th>Book Title</th>
                                <th>Number of Loans</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for result in results %}
                            <tr>
                                <td> {{ result.book_id }} </td>
                                <td> {{ result.book_title    }} </td>
                                <td> {{ result.borrowings_count }} </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}