{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                    <h4 class="card-title">Operators That Lended the same amount of books this year</h4>
                    <p></p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Operator ID</th>
                                <th>Operator Name</th>
                                <th>Operator ID</th>
                                <th>Operator Name</th>
                                <th>Loans count</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for result in results %}
                            <tr>
                                <td> {{ result.user_id }} </td>
                                <td> {{ result.user_first_name + " " + result.user_last_name }} </td>
                                <td> {{ result.user2_user_id }} </td>
                                <td> {{ result.user2_first_name + " " + result.user2_last_name }} </td>
                                <td> {{ result.borrowings_count }} </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}