{% extends "global_layout.html" %}
{% block content %}
<div class="container" id="row-container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <!-- 3.1.1 -->
        
        <!-- 3.1.5 -->
        {% for result in results %}
            <div class="col-md-4">
                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                        <h4 class="card-title">Review</h4>

                        <p class="card-text paragraph-custom">username : {{ result.username }} </p>
                        <p class="card-text paragraph-custom">Rating : {{ result.review_rating }} </p>
                        <p class="card-text paragraph-custom">Review : {{ result.review_text }} </p>
                        
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}