{% extends "global_layout.html" %}
{% block content %}
<div class="container" id="row-container">
    {% include "flash_messages.html" %}

    <div class="row" id="row">
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">User Info</h4>
                    {% for result in results %}
                    <p class="card-text paragraph-custom">ID : {{ result.user_id }} </p>
                    <p class="card-text paragraph-custom">School Name : {{ result.school_name }} </p>
                    <p class="card-text paragraph-custom">Name : {{ result.user_first_name }} {{ result.user_last_name }} </p>
                    <p class="card-text paragraph-custom">Username : {{ result.username }} </p>
                    <p class="card-text paragraph-custom"> {{ result.role_name }} </p>
                    <img src="{{ result.img_link }}" />
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <p></p>
    <a class="btn btn-primary btn-submit-custom" href="/operator_dash/{{user_ID}}">return</a>
</div>
{% endblock content %}